@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #ffffff;
}

@theme {
  --font-sans: var(--font-inter);
  --font-display: var(--font-space);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

html {
  /* scroll-behavior: smooth; <- Disabled for Lenis */
}
